/* 
    Created on : 22/11/2015, 09:46:54
    Author     : Alex Sandro
*/
/*Reset básico*/
*{
  margin:0;
  padding:0;
}
html{
      font-family: 'Open Sans', sans-serif;
}
body{
  background:url(../images/slide.jpg) no-repeat;
}
ul{
  list-style:none;
}
h1{
  color:#FFF;
  font-size:2em;
}
img{
  max-width:100%;
}
/*Layout - Responsive*/
.container{
  margin:0 auto;
  width:100%;
}
.logo, .content{
  margin:0 auto;
  width:90%;
}

/*Barra de navegação do cabeçalho*/
.navbar-header{
  background-color:#19424f;
  padding:1%;
  text-align:right;
}
.navbar-header li{
  display:inline;
  padding-right:1%;
}
.navbar-header li a{
  color:#FFF;
  text-decoration:none;
}

.main-footer{
  font-size:.75em;
  text-align:center;
}
