/*reset css*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: auto 100vh;
    height: 100vh;
    font-family: Arial;
}

img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 150px;
    border-radius: 50%;
}

.cartao-de-visita {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #eef2f3;
    border-radius: 10px;
    max-width: 350px;
    margin: 3% auto;
    text-align: center;
    font-family: arial;
    transition: 0.3s;
}

.cartao-de-visita:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.titulo {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 0px 0px 10px 10px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.fa {
    padding: 10px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }