/*Variebles*/
/*Styles*/
* {
  box-sizing: border-box;
}
body {
  line-height: 150%;
  margin: 0;
}
header {
  background-color: #C1CDCD /*#E0EEEE*/;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2%;
}
header h1,
header h2,
header p {
  text-align: center;
}
header p {
  font-size: 0.75em;
  text-transform: uppercase;
}
main {
  width: 100%;
  padding: 2%;
}
.col-4 {
  width: 33.33333333%;
  float: left;
}
.col-4 h3,
.col-4 p {
  text-align: center;
}
footer {
  background-color: #C1CDCD /*#E0EEEE*/;
  bottom: 0;
  margin-top: 10%;
  padding: 10px;
  position: fixed;
  width: 100%;
}
