*{margin: 0; box-sizing: border-box;}

body{
  background-color: #000;
  color: #434f59;
}

.container{
  background-color: #f4f4f4;
  border-left: 3px solid #434f59;
  border-right: 3px solid #434f59/*#06ffa2*/;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  height: 100vh;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil{
  border-radius: 50%;
  width: 150px;
}

.navbar{
  border-top: 1px dotted #434f59;
  border-bottom: 1px dotted #434f59;
  padding: 20px;
  width: 100%; 
  text-align: center;
}
.navbar a{
  text-decoration: none;
  margin: 0 20px;
}

.cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container{
  padding: 2px 16px;
}