/*Variable*/
/*Styles*/
@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf);
}

* {
  box-sizing: border-box;
}

/*Grids*/


body {
  font-family: 'Raleway', sans-serif;
  line-height: 150%;
  margin: 0;
}

/*TopBar Icon*/
.topbar {
  background-color: #54757e;
  color: #f1f1f1;
  height: 50px;
  padding: 5px;
  width: 100%;
}
.topbar span {
  margin-left: 10px;
}
.topbar .fa {
  color: #4ecdc4;
}
.topbar .fa-inverse {
  color: #f1f1f1;
}
figure {
  float: left;
  width: 45%;
}

/*Navegation*/
nav {
  float: right;
  padding-top: 20px;
  width: 45%;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
  padding: 10px 15px;
}
nav ul li a {
  color: #54757e;
  text-decoration: none;
}

/*SlideShow*/
/* Slideshow container */
.bg-slide{
  background-color:rgba(0, 0, 0, 0.1);
}
.slideshow-container {
  background-color:#000;
  max-width:1000px;
  position: relative;
  margin:150px auto 0 auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
